<div class="products-container">
  <h2>Collections</h2>

  <!-- Category Filter -->
  <div class="filter-container" style="margin-bottom: 25px; margin-left: -150px;">
    <label for="categoryFilter">Filter by Category:</label>
    <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div *ngIf="filteredProducts && filteredProducts.length" class="products-list">
      <div *ngFor="let product of filteredProducts" class="product-item">
          <img [src]="product.image" alt="{{ product.name }}" class="product-image">
          <h4>{{ product.name }}</h4>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.price | currency: 'INR' }}</p>
          <p>Category: {{ product.category }}</p>
          <button (click)="addToCart(product)">Add to Cart</button>
      </div>
  </div>
</div>

<div *ngIf="showAlert" class="fade-out-alert">
  <p>Product added to cart!</p>
</div>
