.products-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 350px; 
  height: 100%; 
}

.product-item:hover {
  transform: translateY(-15px);
}

.product-image {
  width: 90%;
  height: 90%; 
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: auto; 
}

button:hover {
  background-color: black;
}

.fade-out-alert {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color: black; 
  color: white;
  text-align: center;
  padding: 0.5rem 5rem; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: opacity 0.5s ease-out, transform 0.3s ease-in-out; 
  opacity: 1; 
  max-width: 90%; 
  box-sizing: border-box; 
}

.fade-out-alert p {
  margin: 0;
  font-size: 1rem; 
  color: #fff;
}

.fade-out-alert button {
  background-color: #444; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px; 
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.3s ease-in-out;
}

.fade-out-alert button:hover {
  background-color: #555; 
}

.fade-out-alert.ng-hide {
  opacity: 0;
  transform: translateY(20px); 
}

.filter-container {
  color: #fff; 
  padding: 5px; 
}

.filter-container select {
  background-color: black; 
  border: 1px solid #333; 
  border-radius: 5px; 
  padding: 5px; 
  width: 10%; 
  color: #fff;
}


/* for mobile and smaller screens */
@media (max-width: 768px) {
  .products-container {
    padding: 10px; 
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }

  .product-item {
    width: 100%;
    max-width: 100%; 
    height: auto; 
    box-sizing: border-box; 
    padding: 10px; 
  }

  .product-image {
    width: 70%; 
    height: auto; 
    max-height: 150px; 
    object-fit: cover; 
  }

  h4, p {
    font-size: 13px; 
    margin: 5px 0; 
  }

  button {
    padding: 8px 16px; 
  }

  .fade-out-alert {
    bottom: 10px; 
    right: 10px;
    padding: 0.5rem 1rem; 
  }

  .filter-container {
    color: #fff; 
    padding: 5px; 
  }
  
  .filter-container select {
    background-color: black; 
    border: 1px solid #333; 
    border-radius: 5px; 
    padding: 7px; 
    width: 23%; 
    color: #fff;
  }

  .filter-container select option{
    font-size: 9px;
  }
}
