<div class="about-us-container">
    <h2>Corporate Information</h2>
    <p>
      At Minimalist, we are committed to enhancing society and the environment through everything we do. 
      <a href="/corporate-social-responsibility" class="policy-link">Click here</a> to read our Corporate Social Responsibility policy.
    </p>
    <div class="company-info">
      <h3>Uprising Science Private Limited</h3>
      <address>
        Address: 2nd Floor Commercial Building, Hotel Marriott, Khasra No. 55, Ramdas Agarwal Marg, New Jawahar Circle, Gandhi Nagar (302015) Jaipur, Rajasthan
      </address>
      <p>Email: help&#64;beminimalist.co</p>
    </div>
  </div>
  