<div class="auth-container">
  <div *ngIf="!isLoggedIn">
    <div *ngIf="showLogin">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input-group">
          <label for="loginEmail">Email</label>
          <input id="loginEmail" formControlName="email" type="email">
        </div>
        <div class="input-group">
          <label for="loginPassword">Password</label>
          <input id="loginPassword" formControlName="password" type="password">
        </div>
        <button type="submit" class="auth-button">Login</button>
        <p>Don't have an account? 
          <button type="button" (click)="toggleForm()" class="link-button">Sign Up</button>
        </p>
      </form>
    </div>

    <div *ngIf="!showLogin">
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="input-group">
          <label for="registerName">Username</label>
          <input id="registerName" formControlName="username">
        </div>
        <div class="input-group">
          <label for="registerEmail">Email</label>
          <input id="registerEmail" formControlName="email" type="email">
        </div>
        <div class="input-group">
          <label for="registerPassword">Password</label>
          <input id="registerPassword" formControlName="password" type="password">
        </div>
        <button type="submit" class="auth-button">Register</button>
        <p>Already have an account? 
          <button type="button" (click)="toggleForm()" class="link-button">Login</button>
        </p>
      </form>
    </div>
  </div>

  <div *ngIf="isLoggedIn">
    <h2>Welcome, {{ isAdmin ? 'Admin' : user.username }}</h2>
    <button type="button" (click)="logout()" class="auth-button">Logout</button>

    <!-- My Orders Section -->
    <div>
      <button type="button" (click)="toggleOrders()" class="auth-button">
        {{ showOrders ? 'Hide Orders' : 'My Orders' }}
      </button>
      <div *ngIf="showOrders" class="orders-section">
        <h3>Your Orders</h3>
        <div *ngFor="let order of orders" class="order">
          <h4>Order ID: {{ order._id }}</h4>
          <ul>
            <li *ngFor="let product of order.products">
              <div class="order-details">
                <p><span>Product Name:</span> {{ product.name }}</p>
                <p><span>Quantity:</span> {{ product.quantity }}</p>
                <p><span>Price:</span> {{ product.price | currency }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert -->
<div class="alert" *ngIf="alertVisible">
  {{ alertMessage }}
</div>
