.auth-container {
  width: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative; /* Ensures the alert is positioned relative to this container */
}

.alert {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

.alert.ng-leave-active {
  opacity: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 28px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-top: 10px;
}

.auth-button:hover {
  background-color: #333;
}

p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-top: 20px;
}

.link-button {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  transition: color 0.3s ease;
}

.link-button:hover {
  color: #FF6000;
}

/* My Orders Section */
.orders-section {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.orders-section h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: black;
  text-align: center;
}

.order {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.user-details {
  margin-bottom: 15px;
}

.order-details p,
.user-details p {
  margin: 5px 0;
}

.order h4 {
  margin-top: 0;
  font-size: 20px;
  color: black;
}

.order ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order li:last-child {
  border-bottom: none;
}

.order-details {
  padding: 10px;
}

.order-details p {
  margin: 5px 0;
}

.order-details span {
  font-weight: bold;
}


