<div class="main-content">
  <div class="left-content">
    <picture>
      <!-- for mobile view -->
      <source srcset="assets/images/Home-mobile.avif" media="(max-width: 768px)"> 
      <img src="assets/images/home-cover.avif" alt="Main Product Image">
    </picture>
  </div>
  <div class="right-content">
    <h5>Build Your</h5>
    <h2>Personalized Skincare Routine</h2>
    <p>Get your personalized routine. Our professionals will review and evaluate your concerns and we will create the most suitable regimen for you.</p>
    <a routerLink="/products" class="btn">Build Now</a>
  </div>
</div>
