<nav class="navbar">
  <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="logo">
    <a routerLink="/home" (click)="closeMenu()">
      <img src="./assets/images/logo.png" alt="Logo">
    </a>
  </div>
  <div class="nav-links" [class.active]="isMenuOpen">
    <ul>
      <li><a routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Products</a></li>
      <li *ngIf="isAdmin">
        <a routerLink="/modify-products" routerLinkActive="active" (click)="closeMenu()">Modify Products</a>
      </li>
      <li *ngIf="!isAdmin">
        <a routerLink="/aboutus" routerLinkActive="active" (click)="closeMenu()">About Us</a>
      </li>
      <li *ngIf="!isAdmin">
        <a routerLink="/help" routerLinkActive="active" (click)="closeMenu()">Help</a>
      </li>
    </ul>
    <div class="login">
      <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Account</a>
    </div>
  </div>
  <div *ngIf="!isAdmin" class="cart">
    <a routerLink="/checkout" (click)="closeMenu()">
      <img src="assets/images/cart.png" alt="Cart">
      <span class="badge">{{ cartItemCount }}</span>
    </a>
  </div>
</nav>
